* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

/* Navbar */

header {
    background-color: #1F2937;
    padding: 0;
    margin: 0;
}

.navbar.flex {
    justify-content: space-between;
    align-items: center;
    padding: 24px;
}

.logo a {
    font-size: 36px;
    line-height: 44px;
    font-weight: 800;
    color: #F9FAF8;

    text-decoration: none;
}

ul.flex {
    flex-direction: row;
}

.nav-btn a {
    list-style-type: none;
    padding: 8px 16px;
    
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #E5E7EB;
    text-decoration: none;
}

.introduction {
    background-color: #1F2937;
    padding: 32px 64px;
    margin: 0;
}

.container.flex {
    flex-direction: row;
    justify-content: space-around;
}

.text.flex {
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 24px;
}

.text h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;

    color: #F9FAF8;
}

.text p {
    margin-top: 8px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    color: #E5E7EB;
}

.text button {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;

    background-color: #3882F6;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    margin-top: 24px;
    border-radius: 8px;

    max-width: 40%;
}

.options {
    padding: 32px 64px;
}

.title h1 {
    justify-content: center;
    text-align: center;
    margin: 64px 0 32px 0;
}

.columns.flex {
    flex-direction: row;
    justify-content: space-evenly;
    margin: 32px 0 64px 0;
}

.card.flex {
    flex-direction: column;
    margin: 8px;
    max-width: 25%;
}

.card.flex p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.quote {
    background-color: #E5E7EB;
    padding: 32px 64px;
}

.mn-quote.flex {
    flex-direction: column;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    line-height: 44px;
    text-align: center;

}

.author {
    text-align: right;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
}

.cta-banner {
    padding: 128px 0;
}

.banner.flex {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;

    background-color: #3B82F6;
    border-radius: 8px;
}

.text.flex h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #F9FAF8;
}

.text.flex p {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E5E7EB;
}

.sec-btn {
    padding: 4px 24px;
    background-color: #3B82F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

footer {
    background-color: #1F2937;
    padding: 32px 64px;
    align-items: center;
}

.container p {
    text-align: center;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #E5E7EB;
}


/* Utility */

.container {
    max-width: 1024px;
    margin: 0 auto;
}
.flex {
    display: flex;
}